.pagination-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .pagination-info {
        margin: 0;
        font-family: monospace;
        font-size: 1.2rem;
        color: rgb(102, 187, 78); ;
    }
    .pagination-list {
        list-style-type: none;
        margin: 0 0 0 10px;
        padding-left: 0;
        color: rgb(102, 187, 78);
        display: flex;
    }
}
.pagination-item {
  margin: 0 3px;
  a {
    font-size: 1.2rem;
    display: block;
    line-height: 1.25;
    padding: .5rem .75rem;
    font-family: monospace;
    cursor: pointer;
    border: 2px solid rgb(102, 187, 78);
    border-radius: .5rem;
    user-select: none;
  }
  a:hover {
    background-color: rgb(94, 228, 57);
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
  }
}

