<ng-container *ngIf="!notFound; else notFoundCharacter">
  <rm-pagination [totalItems]="totalNumberCharacters"
                 [currentPage]="currentPage"
                 [pages]="pages"
                 (prevPage)="changePage($event)"
                 (nextPage)="changePage($event)"></rm-pagination>
  <div class="characters">
    <div class="characters__grid">
      <div *ngFor="let character of characters">
        <div class="card" (click)="selectCharacter(character.id)">
          <img class="card__image"
               [src]="character.image"
               [alt]="character.name">
          <div class="card__info">
            <h4>{{character.name}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <rm-pagination [totalItems]="totalNumberCharacters"
                 [currentPage]="currentPage"
                 [pages]="pages"
                 (prevPage)="changePage($event)"
                 (nextPage)="changePage($event)"></rm-pagination>
</ng-container>

<ng-template #notFoundCharacter>
  <rm-not-found></rm-not-found>
</ng-template>





