<ng-container *ngIf="!notFound; else notFoundCharacter">
  <div class="character-detail" *ngIf="character">
    <a class="character-detail__button" (click)="onBack()">back</a>
    <div class="character-detail__card">
      <img
        [src]="character.image"
        [alt]="character.name"
        class="character-detail__image">
      <div class="character-detail__info">
        <h4>{{character.name}}</h4>
        <p>Species: {{character.species}}</p>
        <p>Gender: {{character.gender}}</p>
        <p>Origin: {{character.origin.name}}</p>
        <p *ngIf="character.location.name">Location: {{character.location.name}}</p>
        <p *ngIf="character.status">Status: {{character.status}}</p>
        <p *ngIf="character.type">Type: {{character.type}}</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #notFoundCharacter>
  <rm-not-found></rm-not-found>
</ng-template>

