.character-detail {
  display: table;
  margin: 0 auto;
}

.character-detail__card {
  border: 1px solid #FFFFFF;
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0 1.5rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 300px;
  }

  @media screen and (max-width: 380px) {
    grid-template-columns: 280px;
    margin-left: auto;
    margin-right: auto;

    .character-detail__image {
      width: 100%;
    }
  }
}

.character-detail__button {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  display: table;
  margin: 0 auto 1.5rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;

  &:hover {
    background-color: rgb(94, 228, 57);
  }
}

.character-detail__info {
  padding: 1rem 1.5rem;

  h4,
  p {
    letter-spacing: 1px;
    color: #FFFFFF;
  }

  h4 {
    font-size: 1.7rem;
    letter-spacing: 5px;
    margin: 0 0 1rem;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      font-size: 1.4rem;
    }
  }

  p {
    margin: 0 0 .2rem;
    font-weight: 300;
  }
}



