.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .pagination__info {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(94, 228, 57);
  }

  .pagination__list {
    list-style-type: none;
    margin: 0 0 0 10px;
    padding-left: 0;
    color: rgb(94, 228, 57);
    display: flex;
  }
}

.pagination__item {
  margin: 0 3px;

  a {
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    line-height: 1;
    padding: .5rem .75rem;
    cursor: pointer;
    border: 2px solid rgb(102, 187, 78);
    border-radius: .5rem;
    user-select: none;

    &:hover {
      background-color: rgb(94, 228, 57);
      color: #FFFFFF;
      border: 2px solid #FFFFFF;
    }
  }
}
