.title {
    text-align: center;
    color: rgb(94, 228, 57);
    letter-spacing: 2px;
    padding: 1rem;
    font-family: 'Creepster', cursive;
    font-size: 2.5rem;
    filter: drop-shadow(0 0 1rem rgb(119, 253, 82));
}